In [37]:
import sqlite3

In [45]:
conn = sqlite3.connect("../sqlite.db")

In [46]:
cursor = conn.cursor()

In [40]:
# create table 

create_table_script = """
CREATE TABLE test(
    cif_no int, 
    name varchar(256), 
    t_band varchar(5),
    cif_dpd int,
    cif_due int,
    acct_no bigint,
    cbal int,
    cif_class_mth varchar(5),
    bu varchar(50),
    a_type varchar(5),
    tcg_notcg varchar(50),
    collateral varchar(50)
);
"""
cursor.execute(create_table_script)

OperationalError: table test already exists

In [41]:
insert_script = """
insert into test 
values
(3000168, "นางสาวบัณฑิตา ยิ้มฉอด", "L", 0, 1, 20023001704, 698550, "A", "C) HLRL", "IA", "NO_TCG", "โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)"),
(3000168, "นางสาวบัณฑิตา ยิ้มฉอด", "L", 0, 1, 20023001719, 380905, "A", "C) HLRL", "IE", "NO_TCG", "โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)")
"""
cursor.execute(insert_script)

In [42]:
insert_script = """
insert into test 
values
(3000169, "นางสาวชลดา ประสงค์ธรรม", "L", 0, 1, 20023001704, 698550, "A", "C) HLRL", "IA", "NO_TCG", "โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)"),
(3000169, "นางสาวชลดา ประสงค์ธรรม", "L", 0, 1, 20023001719, 380905, "A", "C) HLRL", "IE", "NO_TCG", "โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)")
"""
cursor.execute(insert_script)

In [47]:
query_script = """
select * from test
where cif_no = 3000168
"""
cursor.execute(query_script)

data = cursor.fetchall()

print(len(data))
for dat in data:
    print(dat)

2
(3000168, 'นางสาวบัณฑิตา ยิ้มฉอด', 'L', 0, 1, 20023001704, 698550, 'A', 'C) HLRL', 'IA', 'NO_TCG', 'โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)')
(3000168, 'นางสาวบัณฑิตา ยิ้มฉอด', 'L', 0, 1, 20023001719, 380905, 'A', 'C) HLRL', 'IE', 'NO_TCG', 'โฉนดที่ดิน (ที่ดินพร้อมสิ่งปลูกสร้าง)')

In [44]:
# save permanently
conn.commit()

# close connection when finished
cursor.close()
conn.close()